body{
    color:white;
    margin-top:1%;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.columns{
    max-width:1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-column{
    width: 35%;
}
.right-column{
    width: 55%;
}
.title{
    text-align: center;
    padding: 15px 0;
    background-color: #f8f8f8;
    color: #666666;
    font-size: 20px;
    font-weight:bold;
}

.sort{
    display: flex;
    justify-content: space-between;
    height: 38px;
}

button{
    display: flex;
    padding: 25px 30px;
    align-items: center;
    font-size: 16px;
    font-weight:bold;
    border: none;
    text-transform: none;
}

button.inactive{
    background-color: #25975A;
    color: #ffffff;
}


button.active{
    background-color: #ffffff;
    color: #000000;
}

.regim{
    display: flex;
    margin: 20px 0 0 0;
}
.regim-text{
    height: 9px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.switch{
    width: 50px;
    background-color: #cccccc;
    padding: 5px;
    margin: 4px 20px;
}
.switch-intern{
    height: 100%;
    width: 50%;
    background-color: #ffffff;
}

.search{
    display: flex; /* Aranjează logo-ul și textul pe orizontală */
    align-items: center; /* Centrează vertical conținutul */
    background-color: white; /* Fundal alb */
    border: 1px solid #ccc; /* Bordură subțire gri */
    padding: 10px 20px; /* Spațiu interior */
    border-radius: 5px; /* Colțuri rotunjite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.logo{
    width: 20%;
    
    justify-content: center;
    align-items: center;
}